

<h2> User log in:</h2>
<form method='post' action='/users'>
  <input type='text' name='email' placeholder= 'Email'  />
  <input type='text' name='password' placeholder= 'Password' />
  <input type='submit' value='Submit'  />
</form>
